<!-- Spinner de carga -->
<div class="spinner-border text-primary position-fixed top-50 start-50 " style="width: 150px; height: 150px; border-width: 10px;" role="status" *ngIf="loading">
  <span class="visually-hidden">Loading...</span>
</div>

<section class="container mt-3 w-75">
  <!-- Botón para mostrar el modal de añadir nuevos documentos -->
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#nuevoDocumentoModal">
      <i class="fa-solid fa-file-import fa-lg"></i> Añadir nuevos Documentos
  </button>

  <!-- Botón para mostrar la papelera -->
  <button type="button" class="btn btn-secondary m-2" data-bs-toggle="modal" data-bs-target="#papeleraModal">
    <i class="fa-solid fa-trash fa-lg"></i> Papelera
</button>

  
  <div class="input-group mb-3 w-25">
    <input type="text" class="form-control w-25" placeholder="Buscar por código/estado" [(ngModel)]="searchTerm" (keyup)="filtrarDocumentos(searchTerm)">
    <button class="btn btn-outline-secondary" type="button" id="button-addon2">
      <i class="fas fa-search"></i> 
    </button>
  </div>

  <!-- Modal para insertar nuevos documentos -->
  <div class="modal fade" id="nuevoDocumentoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Añadir nuevos Documentos</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- Formulario para insertar nuevos documentos -->
          <form (ngSubmit)="insertarDocumentos()">
            <section class="mb-3">
              <label for="tasa" class="form-label">Precio</label>
              <input type="number" class="form-control" id="tasa" [(ngModel)]="tasa" name="tasa">
            </section>
            <section class="mb-3">
              <label for="expedienteId" class="form-label">ID del Expediente</label>
              <select class="form-control" id="expedienteId" [(ngModel)]="expedienteId" name="expedienteId">
                <option *ngFor="let expediente of expedientes" [value]="expediente.id">{{ expediente.codigo }}</option>
              </select>
            </section>
            <!-- Botón para insertar un nuevo documento -->
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Insertar</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal para actualizar tipos -->
  <div class="modal fade" id="actualizarDocumentosModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Actualizar Documentos</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Formulario para actualizar tipos -->
                <form (ngSubmit)="actualizarDocumentosFormulario()">
                  <!-- Campo para la ruta -->
                  <section class="form-group mb-3">
                    <label for="rutaActualizar" class="form-label">Nueva Ruta PDF</label>
                    <input type="text" class="form-control" id="rutaActualizar" [(ngModel)]="rutaActualizar" name="rutaActualizar" >
                  </section>

                  <!-- Campo para la tasa -->
                  <section class="form-group mb-3">
                    <label for="tasaActualizar" class="form-label">Nueva Tasa</label>
                    <input type="number" class="form-control" id="tasaActualizar" [(ngModel)]="tasaActualizar" name="tasaActualizar">
                  </section>

                  <button type="submit" class="btn btn-warning m-1"  data-bs-dismiss="modal">Actualizar</button>

                  <button type="button" class="btn btn-secondary m-1" data-bs-dismiss="modal">Cancelar</button>

                </form>
            </div>
        </div>
    </div>
</div>

  <!-- Tabla para mostrar los documentos -->
  <table class="table mt-3">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Ruta PDF</th>
        <th scope="col">Precio</th>
        <th scope="col">Código del expediente</th>
        <th scope="col">Fecha del expediente</th>
        <th scope="col">Estado del expediente</th>
        <th scope="col">Descripción del expediente</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let documento of documentosFiltrados">
        <td>{{ documento.id }}</td>
        <td>{{ documento.ruta }}</td>
        <td>{{ documento.tasa }}€</td>
        <td>{{ documento.expediente.codigo }}</td>
        <td>{{ documento.expediente.fecha }}</td>
        <td>{{ documento.expediente.estado }}</td>
        <td>{{ documento.expediente.descripcion }}</td>
        <td>
          <button class="btn btn-warning btn-sm" (click)="prepararActualizacion(documento)" data-bs-toggle="modal" data-bs-target="#actualizarDocumentosModal"><i class="fa-solid fa-pen-to-square fa-xl"></i></button>
          <button class="btn btn-danger btn-sm" (click)="borradoLogicoDocumentos(documento.id)"><i class="fa-solid fa-trash fa-xl"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</section>



<!-- Modal para la papelera -->
<div class="modal fade" id="papeleraModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><i class="fa-solid fa-trash fa-xl"></i>  Papelera</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Tabla de tipos borrados -->
        <table class="table">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Codigo Expe.</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let documento of documentosBorrados">
              <td>{{ documento.id }}</td>
              <td>{{ documento.expediente.codigo }}</td>
              <td>
                <button class="btn btn-success btn-sm" (click)="recuperarDocumentos(documento.id); cargarDocumentos()" >Restaurar <i class="fa-solid fa-trash-can-arrow-up"></i></button>
                <button class="btn btn-danger btn-sm" (click)="borrarDocumentos(documento.id); cargarDocumentos()">Borrar Definitivamente <i class="fa-solid fa-xmark"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
