<!-- formulario-expedientes.component.html -->

<form (ngSubmit)="onAddExpediente(form)" #form="ngForm" class="container mt-4">
      <label for="codigo">Código:</label>
      <input type="text" class="form-control" id="codigo" name="codigo" required>
    
      <label for="fecha">Fecha:</label>
      <input type="date" class="form-control" id="fecha" name="fecha"  required>
    
      <label for="estado">Estado:</label>
      <select class="form-control" id="estado" name="estado"  required>
        <option value="Pendiente">Pendiente</option>
        <option value="Enviado">Enviado</option>
        <option value="Erróneo">Erróneo</option>
      </select>

      <label for="opciones">Opciones:</label>
      <input type="text" class="form-control" id="opciones" name="opciones">

      <label for="descripcion">Descripción:</label>
      <textarea class="form-control" id="descripcion" name="descripcion" required></textarea>

      <label for="tipo">Tipo:</label>
      <input type="number" class="form-control" id="tipo" name="tipo" required>

      <button type="submit" class="btn btn-primary">Agregar Expediente</button>
  </form>