<h2>Tipos Expediente</h2>

<section class="container mt-3">
    <!-- Ahora el formulario vale tanto para INSERTAR como para ACTUALIZAR -->
    <form (ngSubmit)="tipoParaActualizar ? actualizarTipoFormulario() : insertarTipo()">
        <section class="mb-3">
            <label for="materia" class="form-label">Materia</label>
            <input type="text" class="form-control" id="materia" [(ngModel)]="materia" name="materia">
        </section>
        <!-- Botón para insertar un nuevo tipo -->
        <button type="button" class="btn btn-primary" (click)="insertarTipo()"
            *ngIf="!tipoParaActualizar">Insertar</button>

        <!-- Botones para actualizar un tipo existente -->
        <section *ngIf="tipoParaActualizar">
            <button type="button" class="btn btn-warning" (click)="actualizarTipoFormulario()">Actualizar</button>
            <button type="button" class="btn btn-light" (click)="cancelarActualizacion()">Cancelar</button>
        </section>
    </form>

    <table class="table mt-3">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Materia</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <!-- Modifico la tabla para añadir los botones adicionales -->
        <tbody>
            <tr *ngFor="let tipo of tipos">
                <td>{{ tipo.id }}</td>
                <td>{{ tipo.materia }}</td>
                <td>
                    <button class="btn btn-warning btn-sm" (click)="prepararActualizacion(tipo)">Actualizar</button>
                    <button class="btn btn-danger btn-sm" (click)="borradoLogicoTipo(tipo.id)">Borrado Logico</button>
                </td>
            </tr>
        </tbody>
    </table>
</section>

<section class="container mt-3">
  <h3>Tipos Borrados</h3>
  <table class="table mt-3">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Materia</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tipo of tiposBorrados">
        <td>{{ tipo.id }}</td>
        <td>{{ tipo.materia }}</td>
        <td>
          <button class="btn btn-info btn-sm" (click)="recuperarTipo(tipo.id)">Recuperar</button>
          <button class="btn btn-danger btn-sm" (click)="borrarTipo(tipo.id)">Borrar Definitivamente</button>
        </td>
      </tr>
    </tbody>
  </table>
</section>
