<section class="container mt-3 w-75">
    
    <!-- Botón para mostrar el modal de añadir nuevos tipos -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#nuevoTipoModal">
        <i class="fa-solid fa-file-import fa-lg"></i> Añadir nuevos Tipos
    </button>

    <!-- Botón para mostrar la papelera -->
    <button type="button" class="btn btn-secondary m-2" data-bs-toggle="modal" data-bs-target="#papeleraModal">
        <i class="fa-solid fa-trash fa-lg"></i> Papelera
    </button>
    
    <div class="input-group mb-3 w-25">
        <input type="text" class="form-control w-25" placeholder="Buscar por materia" aria-label="Buscar por materia" aria-describedby="button-addon2" [(ngModel)]="searchTerm" (keyup)="filtrarTipos(searchTerm)">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2">
            <i class="fas fa-search"></i> 
        </button>
    </div>
    

    <!-- Modal para insertar nuevos tipos -->
    <div class="modal fade" id="nuevoTipoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Añadir nuevos Tipos</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Formulario para insertar nuevos tipos -->
                    <form (ngSubmit)="insertarTipo()">
                        <section class="mb-3">
                            <label for="materia" class="form-label">Materia</label>
                            <input type="text" class="form-control" id="materia" [(ngModel)]="materia" name="materia">
                        </section>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal para actualizar tipos -->
    <div class="modal fade" id="actualizarTipoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Actualizar Tipo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Formulario para actualizar tipos -->
                    <form (ngSubmit)="actualizarTipoFormulario()">
                        <section class="mb-3">
                            <label for="materiaActualizar" class="form-label">Nueva Materia</label>
                            <input type="text" class="form-control" id="materiaActualizar" [(ngModel)]="materiaActualizar" name="materiaActualizar">
                        </section>
                        <button type="submit" class="btn btn-warning" data-bs-dismiss="modal">Actualizar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <table class="table table-striped w-75 text-center">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Materia</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let tipo of tiposFiltrados">
                <td>{{ tipo.id }}</td>
                <td>{{ tipo.materia }}</td>
                <td>
                    <button class="btn btn-warning btn-sm" (click)="prepararActualizacion(tipo)" data-bs-toggle="modal" data-bs-target="#actualizarTipoModal"><i class="fa-solid fa-pen-to-square fa-xl"></i></button>
                    <button class="btn btn-danger btn-sm" (click)="borradoLogicoTipo(tipo.id)"><i class="fa-solid fa-trash fa-xl"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</section>


<!-- Modal para la papelera -->
<div class="modal fade" id="papeleraModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><i class="fa-solid fa-trash fa-xl"></i>  Papelera</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Tabla de tipos borrados -->
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Materia</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let tipo of tiposBorrados">
                            <td>{{ tipo.id }}</td>
                            <td>{{ tipo.materia }}</td>
                            <td>
                                <button class="btn btn-success btn-sm" (click)="recuperarTipo(tipo.id); cargarTipos()" >Restaurar <i class="fa-solid fa-trash-can-arrow-up"></i></button>
                                <button class="btn btn-danger btn-sm" (click)="borrarTipo(tipo.id); cargarTipos()" >Borrar Definitivamente <i class="fa-solid fa-xmark"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
